<main class="page-wrapper">
    <!-- Header-->
    <app-header id="top"></app-header>


    <section class="container my-5 pt-5 pb-lg-5">
        <div class="row mx-0 ">
            <div class="row mx-0 ">
                <div class="col-md-4 border-end-md mt-0 pt-0 border-dark p-2 p-sm-5">

                    <app-searchform [small]="true"></app-searchform>

                    <div class="card">
                        <div class="card-header bg-shadid-light">
                            <span class="">Like us on facebook</span>
                        </div>
                        <div class="card-body ">
                            <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/yuasatrading"
                                data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"
                                fb-xfbml-state="rendered"
                                fb-iframe-plugin-query="action=like&amp;app_id=1586531728290446&amp;container_width=227&amp;href=https%3A%2F%2Fwww.facebook.com%2Fyuasatrading&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                                bis_skin_checked="1"><span
                                    style="vertical-align: bottom; width: 90px; height: 28px;"><iframe
                                        name="f22c66e814a0ac" width="1000px" height="1000px"
                                        data-testid="fb:like Facebook Social Plugin"
                                        title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                        allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                        src="https://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=1586531728290446&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1faf9f0bd407d8%26domain%3Dyuasatrading.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fyuasatrading.com%252Ff11773ee9e50fc%26relation%3Dparent.parent&amp;container_width=227&amp;href=https%3A%2F%2Fwww.facebook.com%2Fyuasatrading&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                                        style="border: none; visibility: visible; width: 90px; height: 28px;" class=""
                                        bis_size="{&quot;x&quot;:227,&quot;y&quot;:527,&quot;w&quot;:90,&quot;h&quot;:28,&quot;abs_x&quot;:227,&quot;abs_y&quot;:527}"></iframe></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 border-end-md border-dark p-2 p-sm-5">
                    <div class="">
                        <div class="card-header bg-shadid-light">
                            <span class="">Chasis Check</span>
                        </div>
                        <div class="card-body">
                            <h4>Determining the date of issuance of the Japanese car:</h4>
                            <p>Select the maker and enter the chassis number, for example:</p>
                            <ul>
                                <li>Toyota</li>
                                <li>ACU25-0015131</li>
                            </ul>
                            <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="validationform">
                                <div class="row">
                                    <div class="col-6">
                                        <!-- <div class="mb-2 fields-elements">
                                            <label class="form-label text-dark" for="ManufacturerId">Maker</label>
                                            <select formControlName="ManufacturerId" class="form-select form-select-sm"
                                                id="ManufacturerId">
                                                <option disabled selected>Select Car Maker</option>
                                                <option [ngValue]="1" selected>Toyota</option>
                                                <option [ngValue]="2">Nissan</option>
                                                <option [ngValue]="3">Mitsubishi</option>
                                                <option [ngValue]="4">Honda</option>
                                                <option [ngValue]="5">Mazda</option>
                                                <option [ngValue]="6">Subaru</option>
                                                <option [ngValue]="7">Suzuki</option>
                                                <option [ngValue]="8">Isuzu</option>
                                                <option [ngValue]="9">Daihatsu</option>
                                            </select>
                                        </div> -->
                                        <div class="mb-2 fields-elements">
                                            <label class="form-label text-dark" for="Remarks">Chassis Number</label>
                                            <input class="form-control form-control-sm" type="text" id="Remarks"
                                                placeholder="Chassis Number" formControlName="Chesis" />
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap  align-items-center justify-content-between">
                                    <button class="btn btn-primary  mt-3 " name="btn1" type="submit">Find</button>
                                </div>
                            </form>


                            <div *ngIf="isLoading" class="pt-5">
                                <h2>Car Information</h2>
                                <div class="cars-data" *ngIf="loading">
                                    <div *ngFor="let item of carsData.Items">
                                        <p>Manufacturer: <span>{{item.Manufacturer.Title}}</span> </p>
                                        <p>Model: <span>{{item.Model.Title}}</span> </p>
                                        <p>Chesis Number: <span>{{item.Chesis}}</span> </p>
                                        <p>Engine Size: <span>{{item.EnginSize}}</span> </p>
                                    </div>
                                </div>
                                <div class="cars-data" *ngIf="!loading">
                                    <h5>No Data Found</h5>
                                </div>
                            </div>

                            <br />
                            <div>
                                <p>Yuasa Trading Co, Japan is excited to introduce a free service for our members where
                                    they
                                    can
                                    check manufacture year and in most cases manufacture month for Japan made vehicles.
                                    One
                                    of
                                    the largest challenges with importing a car into one of 190 countries is dealing
                                    with
                                    import
                                    regulations which differ from country to country and where most of them are related
                                    to a
                                    year of manufacture. In Japan, no manufacture year is written on an export
                                    deregistration
                                    certificate (Yushutsu Mashho) or Car Registration Certificate (shakensho), but YEAR
                                    OF
                                    FIRST
                                    REGISTRATION. Year of first registration indicates the month and the year when the
                                    car
                                    was
                                    registered for the first time in Japan. Please note that IT DOES NOT indicate when
                                    the
                                    car
                                    has been manufactured and represents a significant problem for making sure that the
                                    car
                                    matches import regulation for a specific 'year of manufacture' requirement.</p>

                                <p>Basic rule for 'first year of registration' it is in many cases not the same month as
                                    your
                                    vehicle month of manufacture. For popular models, it is usually 1-2 months after the
                                    car
                                    was
                                    manufactured. Let's say the month of the first registration for your 'Toyota Land
                                    Cruiser
                                    Prado' is July, 1997 in this case it is likely that the actual month of manufacture
                                    for
                                    this
                                    car is JUNE or MAY, 1997. For models, which turned out, not too popular in Japan,
                                    the
                                    difference in manufacture month and the first registration month can be even longer
                                    than
                                    that.</p>

                                <p>As a result we had numerous requests both from our members and buyers from other
                                    companies to
                                    help them to determine manufacture month so they can be confident that their
                                    vehicles is
                                    good for import into desired country. Yuasa Trading Co, Japan applied its best
                                    efforts
                                    to
                                    obtain such a database while working with various custom institutions that will
                                    allow
                                    our
                                    members to cope with this challenge effectively and now we are proud to announce the
                                    launch
                                    of the service 'CHECK MANUFACTURE DATE' that is offered for you at no cost. To check
                                    your
                                    vehicle’s manufacture month, choose the 'MAKER' and type or paste your vehicle’s
                                    chassis
                                    number and then press 'Find' button and you will have it!</p>

                                <hr />
                                <br />
                                <p class="text-small">
                                    Please note that this database is only for reference purpose and if you have any
                                    doubts
                                    you will need directly to contact manufacture and get confirmation directly. Please
                                    note
                                    that we offer it as a free service and we are not responsible for any discrepancies.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Body type selection-->

    <app-types [small]="false"></app-types>
</main>

<!-- Footer-->
<div class="bg-dark">
    <app-footer></app-footer>
</div>