<main class="page-wrapper">
    <!-- Header-->
    <app-header id="top"></app-header>


    <section class="container my-5 pt-5 pb-lg-5">

        <div class="row mx-0 ">
            <div class="col-md-3  ">

                <app-searchform [small]="true"></app-searchform>

                <!-- <div class="card">
                    <div class="card-header bg-shadid-light">
                        <span class="">Like us on facebook</span>
                    </div>
                    <div class="card-body ">
                        <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/yuasatrading"
                            data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"
                            fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="action=like&amp;app_id=1586531728290446&amp;container_width=227&amp;href=https%3A%2F%2Fwww.facebook.com%2Fyuasatrading&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                            bis_skin_checked="1"><span
                                style="vertical-align: bottom; width: 90px; height: 28px;"><iframe name="f22c66e814a0ac"
                                    width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin"
                                    title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                    allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                    src="https://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=1586531728290446&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1faf9f0bd407d8%26domain%3Dyuasatrading.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fyuasatrading.com%252Ff11773ee9e50fc%26relation%3Dparent.parent&amp;container_width=227&amp;href=https%3A%2F%2Fwww.facebook.com%2Fyuasatrading&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                                    style="border: none; visibility: visible; width: 90px; height: 28px;" class=""
                                    bis_size="{&quot;x&quot;:227,&quot;y&quot;:527,&quot;w&quot;:90,&quot;h&quot;:28,&quot;abs_x&quot;:227,&quot;abs_y&quot;:527}"></iframe></span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-9  ">
                <div class="card">
                    <div class="card-header bg-shadid-light">
                        <span class="">TRACK ADVANCE ORDER </span>
                    </div>
                    <div class="card-body">
                        <form class="d-flex  align-items-center needs-validation pb-3" novalidate
                            (ngSubmit)="validSubmit()" [formGroup]="trackOrder">
                            <input class="form-control form-control-sm form-control-dark" type="text" id="phone"
                                placeholder="Order Code" formControlName="orderCode" required>
                            <button  class="btn btn-primary btn-sm px-3 mx-3"
                                type="submit">Submit</button>
                                <!-- [disabled]="isLoading" -->
                        </form>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Date</th>
                                        <th>Location</th>
                                        <th>Details</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of orderDetails">

                                        <td>{{ i.Id}}</td>
                                        <td>{{ i.Date | date}}</td>
                                        <td>{{ i.Location}}</td>
                                        <td>{{ i.Details}}</td>

                                        <td>

                                            {{i.Status === 0 ? 'Bid Successfull'
                                            :i.Status === 1 ? 'Bid Unsuccessfull'
                                            :i.Status === 2 ? 'Transportation'
                                            :i.Status === 3 ? 'Inspection In Process'
                                            :i.Status === 4 ? 'Waiting For Shipment'
                                            :i.Status === 5 ? 'Ship Space Confirmation'
                                            :i.Status === 6 ? 'Departure Of Ship'
                                            :i.Status === 7 ? 'Shipment Arried'
                                            :i.Status === 8 ? 'Waiting For Clearance'
                                            :i.Status === 9 ? 'Vehicle Cleared'
                                            :i.Status === 10 ? 'Waiting For Balance Payment'
                                            :i.Status === 11 ? 'Balance Payment Received'
                                            :i.Status === 12 ? 'Processing The Registration'
                                            :'Ready For Delivery Or Pickup'
                                            }}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>




                        {{resultMessage }}


                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Body type selection-->


    <app-types></app-types>


</main>

<!-- Footer-->
<div class="bg-dark">
    <app-footer></app-footer>
</div>
