/* You can add global styles to this file, and also import other style files */

.zsiq_cnt {
    display: none !important;
}

.zsiq_flt_rel {
    background-color: #c7000a !important;
    color: #c7000a !important;
    background: #c7000a !important;
}
