<main class="page-wrapper">
    <!-- Header-->
    <app-header id="top"></app-header>

    <section class="container my-5  ">
        <div class="d-flex align-items-center py-5 justify-content-center">
            <div class="container-fluid">
                <div class="card card-dark card-body mx-auto" style="max-width: 500px">



                    <h1>Unsubscribe from our mailing list?</h1>



                    <app-subscribe type="unsub"></app-subscribe>


                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer-->
<div class="bg-dark">
    <app-footer></app-footer>
</div>